@@ -45,7 +45,7 @@
  --z-modal: 1000;
}

/* Font size for large devices */
/* size increase karega  */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
@@ -58,7 +58,7 @@
  }
}

/* Variables Dark Theme */
/* night eye extensions*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
@@ -70,7 +70,7 @@ body.dark-theme {
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/* Button Dark/Light */
/* switch */
.nav_btns {
  display: flex;
  align-items: center;
@@ -87,7 +87,7 @@ body.dark-theme {
  color: var(--first-color);
}

/* BASE */
/* down */
* {
  box-sizing: border-box;
  padding: 0;
@@ -132,7 +132,7 @@ button {
  cursor: pointer;
}

/* REUSABLE CSS CLASSES  */
/* reused  */
.section {
  padding: 2rem 0 4rem;
}
@@ -152,7 +152,6 @@ button {
  text-align: center;
}

/* LAYOUT  */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
@@ -173,7 +172,6 @@ button {
  background-color: var(--body-color);
}

/* NAVBAR */
.nav {
  max-width: 968px;
  height: var(--header-height);
@@ -250,22 +248,20 @@ button {
  color: var(--first-color-alt);
}

/* Show Menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Header Shadow */
/* head shadow */
.scroll-header {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
}

/* HOME */
/* home page */
.home_container {
  gap: 1rem;
}
@@ -347,7 +343,7 @@ button {
  font-size: 1.25rem;
}

/* BUTTONS */
/* bar */
.button {
  display: inline-block;
  background-color: var(--first-color);
@@ -373,7 +369,6 @@ button {
  gap: 0.3rem;
}

/* ABOUT */
.about_img {
  width: 200px;
  border-radius: 0.5rem;
@@ -397,7 +392,7 @@ button {
  justify-content: center;
}

/* SKILLS  */
/* skill button */
.skills_container {
  row-gap: 0;
}
@@ -480,7 +475,7 @@ button {
  transform: rotate(-180deg);
}

/* QUALIFICATION */
/* quality wala jobs qualification */
.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
@@ -549,7 +544,6 @@ button {
  display: none;
}

/* PORTFOLIO  */
.portfolio_container {
  overflow: initial;
}
@@ -609,7 +603,7 @@ button {
  outline: none;
}

/* CONTACT ME  */
/* contact  */
.contact_container {
  row-gap: 3rem;
}
@@ -668,7 +662,7 @@ button {
  display: none;
}

/* FOOTER  */
/* foot */
.footer {
  padding-top: 2rem;
}
@@ -724,7 +718,7 @@ button {
  margin-top: var(--mb-3);
}

/* SCROLL UP */
/*upper */
.scrollup {
  position: fixed;
  right: 1rem;
@@ -746,12 +740,12 @@ button {
  color: #fff;
}

/* SHOW SCROLL BUTTON */
/* ball button */
.show-scroll {
  bottom: 5rem;
}

/* SCROLL BAR */
/* ball */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
@@ -767,8 +761,6 @@ button {
  background-color: var(--text-color-light);
}

/* MEDIA QUERIES */
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
@@ -804,7 +796,6 @@ button {
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home_content {
    grid-template-columns: max-content 1fr 1fr;
@@ -970,7 +961,7 @@ button {
  }
}

/* For large devices */
/* large screen ke liye */
@media screen and (min-width: 1024px) {
  .header,
  .main,
@@ -1013,4 +1004,4 @@ button {
  .contact_inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
}
